<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <table id="userList" lay-filter="userFilter"></table>

    <form id="UserForm" style="display:none;padding:20px" action="" class="layui-form userForm">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input autocomplete="off" disabled id="nickName1" type="text" name="nickName1"
                       lay-verify="required" lay-reqtext="用户名是必填项" placeholder="请输入用户名" class="layui-input">
                <input hidden id="nickName" name="nickName" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input id="email" type="email" name="email" placeholder="请输入邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input id="phone" type="number" name="phone" placeholder="请输入电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input id="address" name="address" lay-verify="address" placeholder="请输入地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select name="gender" lay-verify="required" lay-reqtext="性别是必选项">
                    <option value="">请选择一个性别</option>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="role" lay-verify="required" lay-reqtext="角色是必选项">
                    <option value="">请选择一个角色</option>
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否外出</label>
            <div class="layui-input-block">
                <input id="isOut" type="checkbox" disabled name="isOut" value="1" title="外出" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="Put" type="submit" class="layui-btn" lay-submit="" lay-filter="PutUser">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table
                , form = layui.form
                , dropdown = layui.dropdown; //下拉菜单

            //第一个实例
            table.render({
                elem: '#userList'
                , height: 500
                , url: '../User/GetUsers' //数据接口
                , page: true //开启分页
                , toolbar: 'default'//工具栏
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'nickName', title: '用户名', fixed: 'left' }
                    , { field: 'avatarUrl', title: '头像', templet: '#avatarUrlTpl' }
                    , { field: 'email', title: '邮箱' }
                    , { field: 'phone', title: '电话' }
                    , { field: 'address', title: '地址' }
                    , { field: 'gender', title: '性别', sort: true, templet: '#genderTpl' }
                    , { field: 'role', title: '角色', sort: true, templet: '#roleTpl' }
                    , { field: 'isOut', title: '是否外出', sort: true, templet: '#isOutTpl', unresize: true }
                    , { fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: 240, fixed: 'right' }
                ]]
            });

            //监听头部工具栏事件
            table.on('toolbar(userFilter)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data; //获取选中的数据
                switch (obj.event) {
                    case 'add':
                        //打开添加表单
                        layer.msg('添加操作被禁止');
                        break;
                    case 'update':
                        if(data.length == 0){
                            layer.msg("请选择一条数据");
                        }
                        else if (data.length > 1) {
                            layer.msg("只能同时编辑一个");
                        }
                        else if(data.length == 1){
                            var thisData = data[0]
                            layer.open({
                                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                                area: ['70%', '90%'],
                                title: '修改用户信息',
                                data: thisData,
                                content: $("#UserForm"),//"/User/UpdateUser",//通过这个进入表单
                                shade: 0,
                                // 层弹出后的成功回调方法：layer前层DOM，index当前层索引
                                success: function (layero, index) {
                                    $("#isOut").attr("checked", thisData.isOut);//反应延迟到了下一次打开
                                    $("#UserForm")[0].reset();//只有重置一次才能正确显示复选框
                                    $("#nickName").val(thisData.nickName);
                                    $("#nickName1").val(thisData.nickName);
                                    $("#email").val(thisData.email);
                                    $("#phone").val(thisData.phone);
                                    $("#address").val(thisData.address);
                                    //obj.update()
                                },
                                cancel: function (layero, index) {
                                    $("#UserForm").hide();
                                    $("#UserForm")[0].reset();
                                    layer.closeAll();
                                }
                            })
                        }
                        break;
                    case 'delete':
                        if (data.length > 0){
                            layer.confirm("真的要删除吗？", function (index) {
                                let names = new Array();
                                $.each(data, function (i, item) {
                                    names.push(item.nickName)
                                });
                                layer.close(index);
                                $.ajax({
                                    url: "../User/DeleteUserByNames",
                                    method: "delete",
                                    //async: false,
                                    contentType: 'application/json',
                                    data: JSON.stringify(names),
                                    //dataType: 'text',
                                    success: function (res) {
                                        layer.msg('删除成功。');
                                        //刷新当前页面
                                        location.reload();
                                    },
                                    error: function (res) {
                                        //console.log(res)
                                        layer.msg('发生异常！');
                                    }
                                })
                            })
                        }
                        else{
                            layer.msg("至少选择一条数据！");
                        }
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(userFilter)', function (obj) { //注：tool 是工具条事件名，userFilter 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'delete') {
                    layer.confirm('真的删除行么', function (index) {
                        let names = new Array()
                        names.push(data.nickName)
                        $.ajax({
                            url: "../User/DeleteUserByNames",
                            method: "Delete",
                            contentType: 'application/json',
                            data: JSON.stringify(names),
                            //dataType: 'text',
                            success: function (res) {
                                layer.msg('删除成功。');
                                obj.del(); //删除对应行（tr）的DOM结构
                            },
                            error: function (res) {
                                //console.log(res)
                                layer.msg('发生异常！');
                            }
                        })
                        layer.close(index);
                    });
                }
                else if (layEvent === 'update') {
                    layer.open({
                        type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                        area: ['70%', '90%'],
                        title: '修改用户信息',
                        data: data,
                        content: $("#UserForm"),//"/User/UpdateUser",//通过这个进入表单
                        shade: 0,
                        // 层弹出后的成功回调方法：layer前层DOM，index当前层索引
                        success: function (layero, index) {
                            $("#isOut").attr("checked", data.isOut);
                            //$("select[name='gender']").find(`option[value='${data.gender}']`).attr("selected", true)
                            //$("select[name='role']").find(`option[value='${data.role}']`).attr("selected", true)
                            $("#UserForm")[0].reset();//只有重置一次才能正确显示复选框
                            $("#nickName").val(data.nickName);
                            $("#nickName1").val(data.nickName);
                            $("#email").val(data.email);
                            $("#phone").val(data.phone);
                            $("#address").val(data.address);
                            //obj.update()
                        },
                        cancel: function (layero, index) {
                            $("#UserForm").hide();
                            $("#UserForm")[0].reset();
                            //$("select[name='gender']").find(`option[value=' ']`).attr("selected", true)
                            //$("select[name='role']").find(`option[value=' ']`).attr("selected", true)
                            layer.closeAll();
                        }
                    })
                }
                else if (layEvent === 'more') {
                    //下拉菜单
                    dropdown.render({
                        elem: this //触发事件的 DOM 对象
                        , show: true //外部事件触发即显示
                        , data: [{
                            title: '健康信息'
                            , id: 'healthDetails'
                        }, {
                            title: '删除'
                            , id: 'del'
                        }]
                        , click: function (menudata) {
                            if (menudata.id === 'del') {

                            } else if (menudata.id === 'healthDetails') {
                                layer.msg('健康信息当前用户名:' + data.nickName);
                            }
                        }
                        , align: 'right' //右对齐弹出（v2.6.8 新增）
                        , style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                    })
                }
            });

            form.on('submit(PutUser)', function (data) {
                $(".userForm").hide();//将本来隐藏的表单重新隐藏
                let formData = ParseForm(JSON.stringify($("#UserForm").serializeArray()))
                $.ajax({
                    url: "../User/UpdateUser",
                    method: "Put",
                    contentType: 'application/json',
                    data: formData,
                    success: function (res) {
                        if (res) {
                            layer.msg("修改成功");
                            //重新加载父页面(相当于刷新页面)
                            location.reload();
                            //data.update()
                        }
                        else {
                            layer.msg("修改失败");
                        }
                    },
                    error: function (error) {
                        layer.alert("修改失败");
                        console.log(error);
                    }
                });
                $("#UserForm")[0].reset();
                layer.closeAll();
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                return false; 
            });
        });

        function ParseForm(arg) {
            let serializeObj = {};
            let array = JSON.parse(arg)
            $.each(array, function (index, element) {
                console.log(element);
                if (element.name != 'gender' && element.name != 'role')
                    serializeObj[element.name] = element.value;
                else
                    serializeObj[element.name] = Number.parseInt(element.value);
            });
            return JSON.stringify(serializeObj);
        };
    </script>

    <script type="text/html" id="barDemo">
        <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-xs layui-btn-warm" lay-event="update">编辑</button>
        @*<a class="layui-btn layui-btn-xs" lay-event="more">更多信息<i class="layui-icon layui-icon-down"></i></a>*@
    </script>

    <script type="text/html" id="avatarUrlTpl">
        <img src={{d.avatarUrl}} style="width:30px"/>
    </script>

    <script type="text/html" id="isOutTpl">
        {{#  if(d.isOut){ }}
        <span style="color:darkkhaki;">已外出</span>
        {{#  } else { }}
        <span style="color: #0094ff;">已进入</span>
        {{#  } }}
        <!-- 这里的 checked 的状态只是演示 -->
        @*<input type="checkbox" name="{{d.account}}" value="{{d.id}}" title="锁定" lay-filter="lockDemo" {{d.role == 2 ? 'disabled' : ''}} {{ d.isLock == true ? 'checked' : '' }}>*@
    </script>

    <script type="text/html" id="genderTpl">
        {{#  if(d.gender === 1){ }}
        <span style="color: #F581B1;">女</span>
        {{#  } else { }}
        <span style="color: #0094ff;">男</span>
        {{#  } }}
    </script>

    <script type="text/html" id="roleTpl">
        {{#  if(d.role === 0){ }}
        <span style="color: #0094ff;">普通用户</span>
        {{#  } else if(d.role === 1) { }}
        <span style="color:chartreuse;">管理员</span>
        {{#  } else }}
    </script>
</body>
</html>